# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Vim swp
*.swp

# Cmake tmp
CMakeCache.txt
CMakeFiles
Makefile
cmake*
build

# binary
sop
